.footer {
    background-color: var(--Moderatecyan);
    padding: 3.66em 10% 4.44em;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.4);
    margin-bottom: 2.5em;
}
.logo path {
    fill: var(--Darkdesaturatedcyan);
}


.navlist {
    justify-content: center;
}
.navlink {
    text-decoration: none;
    color: var(--Darkmoderatecyan);
    transition: color 300ms;
}

.navlink:hover 
{
    color: white;
}


.listSocial {
    margin-top: 4.88em;
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: center;
    gap: 2em;
}

.imgSocial {
    cursor: pointer;
}

.imgSocial path {
    transition: fill 300ms;
}
.imgSocial:hover path {
    fill: white;
}
